.student {
    text-align: center;
    margin-bottom: 30px;
}
.student .inner {
    border: 1px solid #f1f1f1;
    padding: 15px;
    border-radius: 10px;
}
.student .inner h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.student .inner img {
    width: 200px;
    height: 200px;
}
.student .inner h4, .student .inner h5 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.student .inner .progress {
    margin-bottom: 0;
}
.student .inner .progress .progress-bar {
    background-color: #fb7035;
}
.student .inner .donate-btn {
    margin-top: 10px;
}
.student .inner p {
    color: #333;
    margin-bottom: 5px;
    font-size: 16px;
}
@media (max-width:767px) {
    .believed-logo img {
    width: 100px;
}
}.credit-card-box .panel-title {
    padding-top: 15px;
}
.credit-card-box img {
    float: right;
}
.progress {
    max-width: 220px;
    margin: 0 auto;
}
